---
/* import type { Room } from "../pages/[building]/[room].astro"; */

interface Props {
    room: Room;
}
const { room } = Astro.props;
---

<style>
    table {
        background-color: red;
        overflow: auto;
        height: 100vh;
    }

    #current-status {
        background: blue;
    }
</style>

<div id="current-status"></div>

<table>
    <thead>
        <tr>
            <th>Time Slot</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ><th>DS 1</th>{
                room.Ds1.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 2</th>{
                room.Ds2.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 3</th>{
                room.Ds3.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 4</th>{
                room.Ds4.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 5</th>{
                room.Ds5.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 6</th>{
                room.Ds6.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 7</th>{
                room.Ds7.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 8</th>{
                room.Ds8.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><th>DS 9</th>{
                room.Ds9.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
        <tr
            ><td>DS 10</td>{
                room.Ds10.map((lecture: string) => <td>{lecture}</td>)
            }</tr
        >
    </tbody>
</table>
